.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
}

h1{
  font-size: 30px;
  color: rgb(187, 84, 84);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-bottom: 40px;
}
.nav-link{
  display: flex;
  justify-content: space-between;
  
}
.nav-link a{
  text-decoration: none;
  font-weight: bolder;
  margin-right: 8px;
 
}
.home-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.home-image{
  width: 100%;
  object-fit: cover;
}

.pizza-btn{
  margin-top: -16px;
  width: 200px;
  font-size:20px;
 
  border-bottom: 1px solid #1c5d76;
}
form{
font-family:;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(146, 199, 199);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
